
header{
  text-align: center;
}
.yellow{
  background-color: grey;
}
#featured-property{
  text-align: center;
 
}
#details{
  background-color: red;
  padding-left: 100px;
 
  }

.red{
  padding-left: 500px;
  padding-right: 500px;
}
.blue{
  margin-left: 200px;
  text-align: center;
}
div{
  display: inline-block
}


